#content {
    position: fixed;
    max-width: 1350px;
    max-height: 670px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 80px 40px;
    z-index: 9999;
}

#content img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    z-index: 888;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    outline: none !important;
    border: none !important;
    height: 40px;
    color: white;
    background: #E91E63;
    z-index: 999999999;
    border-radius: 50%;
}

#content button:not(.close-btn) {
    position: relative;
    z-index: 9999999;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: auto;
    background: orange;
    margin-top: 15px;
    color: black;
    font-weight: bolder;
    transition: 0.6s ease;
    padding: 5px 35px 5px 35px;
    user-select: none;
    cursor: pointer;
}

#content button:not(.close-btn):hover {
    background-color: #f1f1f1;
    color: black;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #474747;
    width: 100%;
    opacity: 0.7;
    height: 100vh;
}

.ttp {
    position: fixed;
    top: 5%;
    z-index: 1;
}

.share {
    background: #00FFFF !important;
}

.share:hover {
    background-color: #f1f1f1 !important;
    color: black !important;
}

.like {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin: 0 auto;
}