.profile-pic {
    border-radius: 50%;
    width: 198px;
    height: 198px;
    object-fit: cover;
}

.card {
    width: 200px;
    height: 260px;
}

.searcherr {
    position: absolute;
    margin-top: 15px;
}