.postsImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.postsImg1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid green;
}

.z {
    width: 200px;
    height: 200px;
}


@media all and (max-width: 767px) {
    .postsImg {
        width: 500px;
        height: 800px; 
    }
    .z {
        width: 500px;
        height: 800px; 
    }
} 

@media all and (max-width: 550px) {
    .postsImg {
        width: 400px;
        height: 700px; 
    }
    .z {
        width: 400px;
        height: 700px; 
    }
} 

@media all and (max-width: 433px) {
    .postsImg {
        width: 280px;
        height: 600px; 
    }
    .z {
        width: 280px;
        height: 600px; 
    }
}   
